---
---

.line-nos, .lines {
  display: inline-block;
}

.line-nos {
  width: 4em;
  padding-right: 1em;

  .line-no {
    text-align: right;
    a {
      color: #efebe9;
      &:hover {
        color: #795548;
      }
    }

    &:nth-child(5n) a {
      color: #795548;
    }
  }
}

.lines {
  .line {
    &.selected .line-text {
      background-color: #fff176;
    }
  }
}

*::selection {
  background-color: #fff9c4;
}
