---
---

.line-no {
  text-align: right;
  a {
    color: #efebe9;
    &:hover {
      color: #795548;
    }
  }

  &:nth-child(5n) a {
    color: #795548;
  }
}

.line {
  white-space: nowrap;

  &.selected .line-text {
    background-color: #fff176;
  }
}

*::selection {
  background-color: #fff9c4;
}
